#root {
    padding: 0 80px;
}

@media screen and (max-width: 1024px) {
    #root {
        padding: 0 32px;
    }
}

@media screen and (max-width: 767px) {
    #root {
        padding: 0 24px;
    }
}